body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-page {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex: 1 1 10vh;
    height: 50px;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: 700;
}

.head-links {
    display: flex;
    gap: 36px;
    font-size: 18px;
}

.h-link {
    text-decoration: none;
    color: #E5E7EB;
}

.top-content {
    display: flex;
    height: 720px;
    align-items: center;
    background-color: #1F2937;
}

.t-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.image-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    height: 650px;
    width: 450px;
    margin-right: 24px;
}

.t-image {
    margin: 0px auto;
    width: 520px;
    height: 520px;
}

.title {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    color: white;
    margin: 0px 45px 0px 45px;
    text-align: center;
}

.t-introduction {
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
}

.t-paragraph {
    font-size: 20px;
    margin-top: 5px;
    color: #E5E7EB;
}

.t-button {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 120px;
    height: 36px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    background-color: #3882f6;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
}

.h-2link {
    display: block;
    text-align: center;
    margin: 10px 0px 10px 0px;
    flex: 1 1 auto;
    text-decoration: none;
    color: white;
}

.middle-content {
    display: flex;
    align-items: center;
    flex: 1 1 20vh;
    flex-flow: wrap column;
    margin-bottom: 50px;
}

h2 {
    display: flex;
    font-size: 44px;
    margin: 48px 0px 48px 0px;
}

.cards-container {
    display: flex;
    gap: 32px;
}

.m-cards {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    font-size: 24px;
    color: gray;
    font-weight: 400;
    text-align: center;
}

.m-paragraph {
    margin-top: 10px;
}

.card {
    width: 200px;
    height: 200px;
    border: 5px solid royalblue;
    border-radius: 24px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    flex: 1 1 60vh;
}

.quote {
    margin-top: 100px;
    display: flex;
    width: 1080px;
    flex: 0 1 50vh;
    flex-flow: wrap column;
    align-items: end;
}

.inspiring-quote {
    font-size: 36px;
    line-height: 1.5;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
}

.auTHOR {
    font-size: 24px;
    font-weight: 900;
}

.bottom-content {
    display: flex;
    flex: 1 1 40vh;
    justify-content: center;
    align-items: center;
}

.b-container {
    display: flex;
    gap: 200px;
    padding: 50px;
    background-color: #3882f6;
    border-radius: 8px;
}

.call-action {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.b-call {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    color: white;
}

.b-info {
    margin: 8px 0px 0px 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.b-link {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 18px;
    margin: 0px 12px 0px 12px;
}

.b-button {
    border: 2px solid white;
    width: 140px;
    border-radius: 12px;
    background-color: #3882f6;
    margin-right: 90px;
}

footer {
    display: flex;
    flex: 1 1 20vh;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.f-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-text {
    color: #E5E7EB;
}

.misc {
    display: block;
    color: #E5E7EB;
}

